* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: sans-serif;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

/* Navigation */

nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar_icon {
    font-size: 32px;
}


/* Hero Section */


.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
}

.tag {
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;
}

.hero_content {
    h1 {
        font-size: 72px;
        line-height: 1.2;
        font-weight: 400;
    }
}

.explore_btn {
    background-color: #ffc066;
    align-self: flex-start;
    margin-top: 10px;
}


/* Features Section */


.features {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* Menu Section */


.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag {
    align-self: center;
}

.grid {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, auto);
    margin-top: 40px;
}


/* Footer Section */


footer {
    background-color: #fff0db;
}

.link_list h3 {
    margin-bottom: 10px;
    color: gray;
}

.link_list ul {
    list-style: none;
}

.footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}